
:root
{
	/* Fontes */
  --pt-mono: "PT Mono";
	--source-sans: "Source";
  --suez: "Suez";

	/* Tipografia */
	--altura-linha: 1.5;

	/* Cores */
  --azul: #66D9EF; 
  --purpura: #858FA6;
  --rosa: #DC68AA;
}

@font-face
{
	font-family: "PT Mono";
	font-style: normal;
	src: url("../fonts/pt-mono.woff") format("woff");
}

@font-face
{
	font-family: "Source";
	font-style: normal;
	src: url("../fonts/source-regular.woff") format("woff");
}

@font-face
{
	font-family: "Source";
	font-style: italic;
	src: url("../fonts/source-italic.woff") format("woff");
}

@font-face
{
	font-family: "Source";
	font-style: normal;
	src: url("../fonts/source-bold.woff") format("woff");
}

@font-face
{
	font-family: "Source";
	font-style: italic;
	src: url("../fonts/source-bold-italic.woff") format("woff");
}

@font-face
{
	font-family: "Suez";
	font-style: normal;
	src: url("../fonts/suez.woff") format("woff");
}

*,
*::before,
*::after 
{
  box-sizing: border-box;
}

a
{
  color: var(--azul);
  text-decoration: none;
  -webkit-text-decoration-skip: objects;
}

a.azul
{
  color: var(--azul);
  text-decoration: none;
}

a:hover
{
  color: var(--azul);
  text-decoration: none;
}

a:[title]:hover:after
{
  content: attr(title);
  position: absolute;
  left: 0;
  top: 100%;
  white-space: nowrap;
  z-index: 20;
}

body
{
  background: #3c4556;
  color: #fff;
  padding: 30px;
  font-size: 14px !important;
}

@media screen and (min-width: 320px)
{
  body
  {
    font-size: calc(14px + 2 * ((100vw - 320px) / 680)) !important;
  }
}

@media screen and (min-width: 1000px)
{
  body
  {
    font-size: 16px !important;
  }
}

code, pre, samp 
{
  font-family: var(--pt-mono), monospace;
}

code 
{
  word-break: break-word;
}

a > code 
{
  color: inherit;
}

pre 
{
  display: block;
}

pre code 
{
  font-size: inherit;
  color: inherit;
  word-break: normal;
}

html 
{
  font-family: var(--source-sans), sans-serif;
  line-height: 1.15 !important;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -ms-overflow-style: scrollbar;
  -webkit-tap-highlight-color: transparent;
}

html [type="button"] 
{
  -webkit-appearance: button;
}

@-ms-viewport 
{
  width: device-width;
}

h1
{
  color: var(--azul);
  font-size: 3.5em;
  text-align: center;
}

h2
{
  text-align: center;
  font-size: 1.5em;
}

h3
{
  color: var(--azul);
  font-size: 2.5em;
}

img[dracula]
{
  display: block;
  height: auto;
  margin: 0 auto;
  width: 200px;
  text-align: center;
}

@media screen and (max-width: 600px)
{
  img[dracula]
  {
    height: auto;
    max-width: 100%;
    width: 100%;
  }
}

p
{
  margin-top: 0;
  margin-bottom: 1rem;
  text-align: justify;
}

samp
{
	-moz-border-radius: 0.4em;
	-webkit-border-radius: 0.4em;
	background: var(--purpura);
	border-radius: 0.4em;
	border: none;
	color: #cacccd !important;
	display: inline-block;
	font-family: var(--pt-mono), monospace;
	margin: -1px 0;
	padding: 0 .3em;
	white-space: no-wrap;
}

.autoria
{
  padding: 50px;
  text-align: center;
}

.titulo
{
  font-family: var(--suez);
  margin-top: 20px;
}

.gh-btns
{
  text-align: center;
  margin: 3em 0 3em 0;
}

.love {
  font-size: 1.4em;
  color: var(--rosa);
}
