*{} * {} p {}

ul,
ol {}

p { color: red; }

p {
    color: red !important;
    line-height: normal!important;
    font-size: 16px;
}

p { position: absolute !important}

@media screen and (min-width: 100px) {}

@main-color: red;

.foo 
{
  background: @main-color;
}

/* Simple comment here */

.exemplo
{
  font-family: "Bahnschrift SemiCondensed", sans-serif;
}

#exemplo
{
  content: 'foo';
  content: "foo";
  content: url(foo.png);
  content: url('foo.png');
  content: url("foo.png");
}