# Ignorar os ficheiros sujos macOS DS_Store
.DS_Store
._.DS_Store
*.DS_Store
**/.DS_Store
**/._.DS_Store

# Ignorar os ficheiros sujos .directory do Dolphin
*.directory
**/.directory

## Proteger os dados para não vazarem
.env.local
.env.development.local
.env.test.local
.env.production.local

# Não guardar os caches de Firebase no repositório do GitHub/GitLab
**/.firebase

# Não guardar a pasta compilada 
/build
builds

# Não guardar a pasta de teste
/coverage

# Não guardar a pasta node_modules e as suas dependências
node_modules
/.pnp
.pnp.js

# Não guardar os logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*